<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if entry is defined and entry.title %}{{ entry.title }} | {% endif %}Le Moulin asbl</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/dist/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/dist/css/baguetteBox.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}/assets/dist/css/main.css" media="all" />
</head>