html {
	background-color:$pageBgColor;

    @include mq(medium) {
        background-image: url('../img/logo_small.png');
    }
}

body {
}

a {
	color: $linksColor;
}

i {
	text-align:center;
	width: 1em;
}

p {
	margin:0 0 .8em;
}

ul {
	margin:.5em 0;
}

strong {
	color: $strongTxtColor;
}

em {
    color: $color-grey2;
    font-weight: 600;
}

.title1, .title2, .title3 {
	color:$headingTextColor;
}

.title1 {
	font-weight:normal;
	margin: 0 0 .25em 0;

    font-size:2em;

	@include mq(medium) {
		font-size:2.2em;
	}
}

.title2 {
	font-weight:normal;
	margin: 0 0 .25em 0;

    font-size: 1.6em;

	@include mq(medium) {
		font-size: 1.8em;
	}
}

.title3 {
	margin: 0 0 .25em 0;

    font-size: 1.2em;

    @include mq(medium) {
        font-size: 1.4em;
    }
}

.title4 {
	margin:0 0 .8em;

    font-size: .8em;

    @include mq(medium) {
        font-size: .9em;
    }
}

.wysiwyg {
    h3 {
        @extend .title3;
    }
}

::selection {
	background:$mainSelectedBgColor;
	color:$mainSelectedTxtColor;
}