{% extends "_layouts/default" %}

{# Variables #}
{% set currentSection = 'activities' %}
{% set activitiesPage = craft.entries({
    section: 'activitiesPage'
})[0] ?? null %}

{% block content %}
<main>
    <section class="c-section">
        <div class="l-container">
            <a href="{{ helpers.getSingleUrl('activitiesPage') }}">
                <strong>{{ activitiesPage.title }}</strong>
            </a>
            <h2 class="title2">
                    {{- entry.title -}}
            </h2>
            {% spaceless %}
                <div class="grid">
                    <div class="grid__module  medium-span-8of12">

                        {% if entry.thumbnail|length %}
                            <img src="{{ entry.thumbnail[0].getUrl({width: 200}) }}" alt="{{ entry.thumbnail[0].title }}" class="" style="float: left; padding-right: 1em;">
                        {% endif %}

                        <div class="text-big">
                            {{ entry.intro }}
                        </div>

                        <div style="clear: both; padding-top: 1em;">
                            {{ entry.text }}
                        </div>

                        {% if entry.fbPageUrl|length %}
                            <p>
                                <a href="{{ entry.fbPageUrl }}" class="c-button c-button--primary" target="_blank" rel="noopener noreferrer">
                                    {{ 'Event page on Facebook'|translate }}
                                </a>
                            </p>
                        {% endif %}

                    </div>
                    <div class="grid__module  medium-span-4of12">
                        <div style="padding-bottom: 1em;">
                            <h3 class="title3">{{ 'When'|translate }}</h3>
                            <strong>
                                <time>
                                    {% if entry.dateEnd|length %}
                                        {{ helpers.dateRange(entry.dateStart, entry.dateEnd) }}
                                    {% else %}
                                        {{ helpers.date(entry.dateStart) }}
                                    {% endif %}
                                </time>
                            </strong>
                            {% if entry.timeExtraInfo|length %}
                                {{ entry.timeExtraInfo }}
                            {% endif %}
                        </div>

                        <div>
                            <h3 class="title3">{{ 'Where'|translate }}</h3>
                            <address>
                                {{ entry.venue }}
                                <br>
                                {{ entry.address }}
                                <br>
                                {{ entry.postcode }} {{ entry.city }}
                            </address>
                        </div>
                    </div>
                </div>
            {% endspaceless %}
        </div>
    </section>
</main>
{% endblock %}