{% extends "_layouts/default" %}

{# Variables #}
{% set currentSection = 'activities' %}

{% block content %}

    <main>
        <section class="c-section">
            <div class="l-container">
                <h1 class="title1">{{ entry.title }}</h1>

                {% set activities = craft.entries({
                    section: 'activities',
                    order: 'dateStart asc',
                    dateStart: '>' ~ now
                }) %}

                {% if activities|length %}
                    {% spaceless %}
                        <div class="grid">
                            {% for activity in activities %}
                                <div class="grid__module  large-span-6of12">
                                    {% include '_components/card-activity' with {
                                        activity: activity
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endspaceless %}
                {% else %}
                    <p>
                        {{ 'There are no upcoming activities at the moment...'|translate }}
                    </p>
                {% endif %}

            </div>
        </section>
    </main>

{% endblock %}