{% extends "_layouts/default" %}

{# Variables #}
{% set currentSection = 'activities' %}

{% block content %}

    <main>
        <section class="c-section">
            <div class="l-container">
                <h1 class="title1">{{ entry.title }}</h1>

                {% set activities = craft.entries({
                    section: 'activities',
                    order: 'dateStart asc',
                    dateStart: '>' ~ now
                }) %}

                {% include '_groups/activities' with {
                    activities: activities
                } only %}

            </div>
        </section>
    </main>

{% endblock %}