{% extends "_layouts/default" %}

{# Variables #}
{% set currentSection = 'contact' %}

{% block content %}
<main>
    <section class="c-section">
        <div class="l-container">
            <h1 class="title1">{{ entry.title }}</h1>
            {% spaceless %}
                <div class="grid">
                    <div class="grid__module  medium-span-6of12">
                        <div class="text-big">
                            {{ entry.intro }}
                        </div>

                        <div class="wysiwyg">
                            {{ entry.text }}
                        </div>
                    </div>
                    <div class="grid__module  medium-span-6of12">
                        <a href="https://www.google.be/maps/place/Paul+Deschanellaan+146,+1030+Schaarbeek/@50.8577964,4.3764131,17z/data=!3m1!4b1!4m2!3m1!1s0x47c3c36f53c1700f:0xa2eb9ada90f87457" target="_blank" rel="noopener noreferrer">
                            <img src="{{ url('assets/dist/img/contact_map.png') }}" alt="">
                        </a>
                    </div>
                </div>
            {% endspaceless %}
        </div>
    </section>
</main>
{% endblock %}