/* == Colors == */

$color-grey: #909090;
$color-grey2: #707070;

$black: #000000;
$white: #FFFFFF;

$mainLight: #1042df;
$mainLighter: mix($white, $mainLight, 20%);
$mainLightest: mix($white, $mainLight, 80%);
$mainLightestest: mix($white, $mainLight, 90%);
$mainDark: mix($black, $mainLight, 50%);
$mainDarker: mix($black, $mainLight, 60%);

$color-secondary: #751D54;

$greyLight: #202020;


$pageBgColor: $mainDark;

$mainTextColor: $greyLight;
$mainSelectedBgColor: $mainDark;
$mainSelectedTxtColor: $white;

$navItemBgColor: $mainLight;
$navItemTxtColor: $white;
$navItemBorderColor: $mainDark;
$navItemHoverBgColor: $mainLighter;

$strongTxtColor: $mainLight;

$headerTextColor: $mainLight;
$headingTextColor: $mainDark;

$introBgColor: $mainLightest;
$introTxtColor: $mainDark;

$footerBgColor: $mainDark;
$footerTxtColor: $white;

$linksColor: $mainLight;